# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# uv / venv
.venv/
.python-version

# Tooling caches
.ruff_cache/
.mypy_cache/

# OS
.DS_Store

# Generated plot outputs (re-created by scratch_curve_basics.py)
curve_interp.png
curve_interp_plotly.html
